<div class="<%= class_name(:wrapper) %>">
  <div class="<%= class_name(:background) %>"></div>
  <header class="<%= class_name(:header) %>">
    <%= header %>
  </header>
  <main class="<%= class_name(:main) %>">
    <%= content %>
  </main>
</div>      
